{% load static %}

<!-- footer -->
<section id="footer">
    <div class="container footer-wrapper">
        <div class="row gx-5 px-2 px-md-0">
            <div class="col-md-4 mb-3">
                <img src="{% static 'frontend2/assets/images/logo.png' %}" alt="logo" class="logo">
                <p>We have a clear plan to improve our operational performance, and improve total service returns. To do so, over the next ten years we will make our services Simpler, Better and More balanced.</p>
            </div>
            <div class="col-md-2 mb-3">
                <h3>Services</h3>
                <a href="" class="nav-link">Personal</a>
                <a href="" class="nav-link">Business</a>
                <a href="" class="nav-link">About</a>
                <a href="" class="nav-link">Services</a>
                <a href="" class="nav-link">Contact</a>
            </div>
            <div class="col-md-2 mb-3">
                <h3>Links</h3>
                <a href="" class="nav-link">Login</a>
                <a href="" class="nav-link">Vision</a>
                <a href="" class="nav-link">Mission</a>
                <a href="" class="nav-link">Partners</a>
                <a href="" class="nav-link">Socials</a>
            </div>
            <div class="col-md-4 mb-2">
                <h3>Open Hours</h3>
                <p>We are open from monday to Saturday, Please contact us for any inquiry.</p>
                <p>Monday - Friday: 11:00 am - 8:00 pm</p>
                <p>Saturday: 10:00 am - 2:00 pm</p>
                <p>Sunday: Always Closed</p>
            </div>
        </div>
        <hr style="border-color: aliceblue; opacity: 0.3; margin: 10px 0;">

        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="tmpri">
                    <p>Terms of use span</p>
                    <p>|</p>
                    <p>Privacy Policy </p>
                    <p>|</p>
                    <p>Community</p>
                </div>
            </div>
            <div class="col-md-6 ms-2 ms-md-0">
                <p>Copyright ©2024 All rights reserved | Trustway Corperations</p>
            </div>
        </div>


    </div>
    

</section>
<!-- footer end -->